.heading {
    max-width: 300px;
    margin: 0 40px;
    button {
    margin: 0 3px;
}
}

.lists {
    .container {
        padding-left: 40px;
    h2 {
        display: inline-block;
    }
    ul {
        width: 250px;
        list-style: none;
        padding: 0;
    }
    li {
    height: 30px;
    width: 250px;
    margin: 5px 0;
    background-color: gray;
    padding: 5px 0;
    div {
        float: right;
    }
}

li:hover {
    background-color: lightgray;
}
    button {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }
    .removeTask {
        background-color: red;
    }
    .todo-tasks {
        .doneTask {
        background-color: green;
    }
    }
    .done-tasks {
        .doneTask {
        background-color: orange;
    }
    }
    }
}





